/* Main CSS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  color: #797979;
  background: #fffff;
  font-family: 'Open Sans', sans-serif;

}



/* hyperlinks */
a{
    color: #454545;
    transition: .3s;
}
/* Top bar header container */
.header { 
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1d2434;
    color: #1d2434;
}
/* Header 1 */
h1{
    color: #1d2434;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 2%;
    left: 25%;
}

.top-bar{
        position: relative;
        height: 60px;
        background: #1d2434;
}