/* Header title */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.header {
    margin: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1d2434;
    padding-bottom: 10px;

}
.menu {
    position: relative;
    bottom: 10px;
    float: left;
}
/* Stick nav bar */
#navbar{
    overflow: hidden;
    background-color: #1d2434;
}
#navbar a{
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.content{
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

/* unvisited link */
a:link{ 
    color: white;
    text-decoration: none;
    margin-left: 5px;
}
/* mouse over */
a:hover{
    color: tan;
    background-color: #1d2434;
    text-decoration: underline;
}

a:active{
    color: steelblue;
    text-decoration: underline;
}

a:visited{
    color:white;
    text-decoration: underline;
}
/* Media Query */
@media screen and (max-width:768px) {
    menu, 
    h1 {
        flex-direction: column;
    }
