    /**************************
---------Header------------
**************************/
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background-color: #1d2434;
    }
    
    .titles {
        position: relative;
        font-size: 20px;
        left: 16px;
        top: 0px;
        bottom: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        letter-spacing: 1px;
    }
    
    .sub-titles {
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: column;
        color: #f0ad3a;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .sub-titles-contact {
        color: #f0ad3a;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .text {
        padding-top: 0;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 2px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        opacity: 80%;
        text-align: left;
    }
    
    .header {
        margin: 12;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 1px;
    }
    /**************************
----Links Behaviour--------
**************************/
    /* unvisited link */
    
    .links a:link {
        color: white;
        text-decoration: none;
        position: relative;
        letter-spacing: 4px;
        left: 10px;
        right: 10px;
    }
    /* mouse over */
    
    a:hover {
        text-shadow: gray;
        opacity: 60%;
    }
    
    a:visited {
        color: white;
        text-decoration: underline;
    }
    
    a:-webkit-any-link {
        color: white;
        cursor: pointer;
        text-decoration: underline;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
    }
    /**************************
----------Navbar-----------
**************************/
    
    #navbar {
        overflow: hidden;
        background-color: #1d2434;
    }
    
    #navbar a {
        float: left;
        display: table-column;
        color: white;
        text-align: right;
        padding: 14px;
        text-decoration: none;
    }
    /**************************
--------Media Query--------
**************************/
    
    @media screen and (max-width:2000px) {
        menu,
        h1,
        .photo {
            flex-direction: column;
            justify-content: center;
        }
        @media (max-width: 2000px) {
            .photo.before {
                margin-bottom: 30px;
                height: auto;
            }
        }
        .photo {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        #work {
            position: relative;
            width: 50%;
            height: 50%;
            object-fit: cover;
            z-index: 1;
        }
        .icon {
            position: relative;
            bottom: 10px;
            width: 100px;
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            opacity: 0.5;
        }
        .web {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        @media screen and (max-width: 2000px) {
            .web {
                margin-bottom: auto;
                height: auto;
                padding-top: 40px;
            }
        }
        /**************************
------Grid Container------
*************************/
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: #1d2434;
            padding: 10px;
        }
        .grid-item {
            height: auto;
            width: auto;
            padding: 10px;
            font-size: 30px;
        }
        .content.normal {
            font-weight: normal;
            @media (max-width: 767.98px) {
                .content.before margin-bottom: 30px;
                height: auto;
            }
        }
    }
    
    .content {
        color: white;
        position: relative;
        font-weight: 60;
        width: 100%;
        min-height: 200px;
        object-fit: cover;
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    
    .work-styles {
        color: #f0ad3a;
        font-family: Arial, Helvetica, sans-serif;
        padding: 3px;
        font-size: 18px;
        position: absolute;
        top: 60%;
        z-index: 2;
        background-color: none;
    }
    
    .descriptn {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 4px;
        font-size: 12px;
        position: absolute;
        left: 5%;
        top: 68%;
        z-index: 2;
        background-color: none;
    }
    
    #work {
        color: white;
        position: relative;
        padding-top: 3px;
        font-weight: 60;
        width: 100%;
        height: 1%;
        object-fit: cover;
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-left: 20%;
    }
    /******** Photo Background ******/
    
    #card {
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        padding: 10px;
        flex: 0 0 300px;
        transform: rotate(0deg);
        box-shadow: 10px 10px 5px #aaaaaa;
        margin: 20px;
    }
    
    .copy {
        color: white;
        justify-content: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        opacity: 20%;
    }
    
    h3 {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        padding: auto;
    }